<%= form_with model: @article do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
  <div>
    <%= f.label :status %><br>
    <%= f.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div>
  <div>
    <%= f.submit 'Submit', disable_with: 'Submiting...' %>
  </div>
<% end %>